extends base

block content 
    form(method="POST")
        input(name="name" type="text" placeholder="input name" required)
        input(name="email" type="email" placeholder="input email" required)
        input(name="username" type="text" placeholder="input username" required)
        input(name="password" type="password" placeholder="input password" required)
        input(name="location" type="text" placeholder="input location" required)
        input(type="submit", value="Join")